<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Full Name</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     Jorge L Otero
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Student ID</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      0908914
    </ion-card-content>
  </ion-card>

</ion-content>
